$color_fondo: black;
$nav_hover_color:gray;
$color_fondo_general: black;
$color_fondo_main: black;
$color_fondo_form:  black;
$color_titulos_mobile:  rgb(224, 214, 214);
$color_barra: rgb(197, 196, 196);
$color_h1: rgb(197, 196, 196);
$color_h2_h3:  rgb(197, 196, 196);
$color_texto:  rgb(197, 196, 196);
$color_bordes: rgb(70, 36, 70);
$tipo_de_letra: 'Roboto', sans-serif;
$tamano_h1: 5rem;
$padding_top_md:1.25rem;